 html {
        scroll-behavior: smooth;
    }
*{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.header5, .header1, .content{
    animation: fadeIn 5s ease-in-out both;
}
@keyframes fadeIn {
    from{opacity: 0;}
    to{opacity: 1;}
}
.explore-btn {
    position: relative;
    top: -200px;
    right: -90em;
  width: 80px;
  height: 80px;
  border: 2px solid #ccc;
  border-radius: 50%;
  background: transparent;
  color: #ccc;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.explore-btn a{
    color: #f5f5f5;
}
.explore-btn:hover {
  border-color: #fff;
  color: #fff;
}
.content{
    position: relative;
    top: 100px;
    left: 200px;
}
.content, img{
    height: 195px;
    width: 190px;
}
section{
    min-height: 100vh;
    position: relative;
}
.section1{
    color: aliceblue;
    background: #000000;
}
.header1{
    font-size: 20px;
    padding: 30px 0px 0px 50px;
}
h1{
    font-size: 150px;
}
.header2{
    animation: header2 3s ease-in-out both;
}
@keyframes header2 {
    from{padding: 0px 0px 0px 0px;}
    to{padding: 0px 0px 0px 200px;}    
}
.header3{
    animation: header3 3s ease-in-out both;
}
@keyframes header3 {
    from{padding: 0px 0px 0px 0px;}
    to{padding: 0px 0px 0px 400px;}    
}
.header4{
    animation: header4 3s ease-in-out both;
}
@keyframes header4 {
    from{padding: 0px 0px 0px 0px;}
    to{padding: 0px 0px 0px 700px;}    
}
.header2, .header3, .header4{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2),
    2px 2px 0 #f8f8f846,
    3px 3px 0 #f8f8f846,
    4px 4px 0 #f8f8f846,
    5px 5px 0 #f8f8f846,
    6px 6px 0 #f8f8f846,
    7px 7px 0 #f8f8f846;
}
.header5{
    font-size: 25px;
    position: relative;
    top: -100px;
    padding-left: 150px;
}
.contain{
    display: flex;
}
img{
    background: #000000;
}

.section2{
    background:  url(img/image2.png);
  background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #f5f5f5;
}
.header6{
    font-size: 100px;
}
.div1_2{
    display: flex;
    padding: 250px 0px 0px 220px;
}
.div2{
    font-size: 20px;
    padding: 180px 0px 0px 50px;
}
.cloths-pride h2 {
    font-size: 6rem;
    text-align: right;
    font-weight: bold;
    line-height: 1.1;
    padding: 20px 80px 0px 0px;
}
.flex{
    display: flex;
}
.section3{
    background: #000000;
    color: #f5f5f5;
}
.span1 h3, .span2 h3, .span3 h3{
    font-size: 50px;
}
.p{
    font-size: 20px;
}
.div3, .div4, .div5{
    margin: 50px 400px 0px 50px;
}
.new-arrivals{
    background: #000000;
    color: #f5f5f5;
}
.header7{
    font-size: 100px;
}
.product-grid{
    display: flex;
    gap: 150px;
}
.product-item img, .product-item2 img, .product-item3 img{
    margin: 0px 0px 0px 50px;
    height: 300px;
    width: 200px;
}
.product-item, .product-item2, .product-item3{
    margin-left: 20px;
    min-height: 360px;
    width: 300px;
    border: 2px solid #f5f5f5;
    border-radius: 25px;
}
.product-item h3 span, .product-item2 h3 span, .product-item3 h3 span{
    padding: 0px 0px 0px 60px;
}
.product-item2 h3 span, .product-item3 h3 span{
    padding: 0px 0px 0px 20px;
}
.product-item h3, .product-item2 h3, .product-item3 h3{
    padding: 0px 0px 0px 20px;
}
.product-item hr, .product-item2 hr, .product-item3 hr{
    margin: 10px 0px 0px 15px;
    width: 250px;
}
.press{
    background: #000000;
    color: #f5f5f5;
    display: flex;
    gap: 200px;
}
.press-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.press-container h1 {
    font-size: 100px;
    padding: 0px 0px 0px 100px;
}
.press-container2{
    padding: 70px 0px 0px 0px;
}
.p2, .p3, .p4{
    font-size: 20px;
    padding: 0px 0px 30px 0px;
}
hr{
    margin: 0px 0px 30px 0px;
}
.header8, .header9, .header10{
    font-size: 30px;
    padding: 0px 0px 30px 0px;
}
.inquiries{
    background: #f5f5f5;
    color: #000000;
}
.header11, .header15{
    font-size: 100px;
    font-weight: none;
}
.header15{
    text-align: right;
}
.div6{
    display: flex;
    gap: 150px;
    padding: 50px 0px 150px 300px;
}